@model List<FillThePool.Models.Schedule>

@{
    var latest =-1;
   if (Model.Any()){

	   try
	   {
		   latest = Model.OrderBy(x => x.Registration.TimeStamp).LastOrDefault().ScheduleId;
	   }
	   catch { }
       }
}
<!-- List group -->
<ul class="list-group">

    @if (!Model.Any())
    {
        <li class="list-group-item">No Upcoming Lessons</li>
    }
    
    @foreach (FillThePool.Models.Schedule s in Model.OrderBy(s => s.Start))
    {
        var classes = "list-group-item";
        if (latest == s.ScheduleId && s.Registration.TimeStamp > DateTime.Now.AddMinutes(-1))
        {
            classes += " alert alert-success";
        }
        <li class="@classes">@s.Start - @s.Registration.Student.Name with @s.Lane
        @if (s.Start > DateTime.Now.AddDays(1))
        {
            <a href="#" onclick="DeleteRegistration(@s.ScheduleId, @s.Registration.Student.StudentId);">Cancel</a>        
        }    
        </li>
    }
</ul>


