<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Stansbury Swim</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/site")
	@RenderSection("scripts", required: false)
	@RenderSection("styles", required: false)
	<script>
    		window.onerror = function (errorText, url, lineNumber) {
    			var msg = 'errorText=' + errorText + '&url=' + url + '&lineNumber=' + lineNumber;

    			var xhr = new XMLHttpRequest();
    			xhr.open('POST', '/api/error', true);
    			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    			xhr.send(msg);
    		};

    		$(function () {
    			$("input[type='text']").addClass("form-control");
    			$("input[type='password']").addClass("form-control");
    			$("input[type='checkbox']").removeClass("form-control");

    			$("#heading").lettering();
    		});

	</script>
	<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-35315924-6', 'stansburyswim.com');
	ga('send', 'pageview');

	</script>
	<!-- Copy this script into your html file to enable Application Insights -->
	<script type="text/javascript">
			window.appInsights = { queue: [], applicationInsightsId: null, accountId: null, appUserId: null, configUrl: null, start: function (n) { function u(n, t) { n[t] = function () { var i = arguments; n.queue.push(function () { n[t].apply(n, i) }) } } function f(n) { var t = document.createElement("script"); return t.type = "text/javascript", t.src = n, t.async = !0, t } function r() { i.appendChild(f("//az416426.vo.msecnd.net/scripts/ai.0.js")) } var i, t; this.applicationInsightsId = n; u(this, "logEvent"); u(this, "logPageView"); i = document.getElementsByTagName("script")[0].parentNode; this.configUrl === null ? r() : (t = f(this.configUrl), t.onload = r, t.onerror = r, i.appendChild(t)); this.start = function () { } } };

			appInsights.start("1da75454-6efc-4383-b520-27fd4253c271");
			appInsights.logPageView();
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script>
(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=403225366490974&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<header>
		<div class="content-wrapper">
			<div class="row login-bar">
				<div class="col-md-9 pull-left hidden-xs" style="margin:10px 0">Call: 435-659-6307 Email: <a href="mailto:info@stansburyswim.com">info@stansburyswim.com</a> Address: 101 Lakeview, Stansbury Park, UT &nbsp;&nbsp; @*<div class="fb-like" data-href="https://facebook.com/stansburyswim" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>*@</div>
				<div class="col-md-3 pull-right">
					@Html.Partial("_LoginPartial")
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron" id="headerText">
						<h1 class="text-center">@Html.ActionLink("Stansbury Swim", "Index", "Home", null, new { id = "heading" })</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 visible-sm visible-md visible-lg">
					<nav class="navbar navbar-default">
						<ul class="nav nav-tabs">
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("Purchase Credits", "Index", "Transaction")</li>
							<li>@Html.ActionLink("Reserve Lessons", "Index", "Lesson")</li>
							<li>@Html.ActionLink("Manage Profile", "Manage", "Account")</li>
							<li>@Html.ActionLink("Instructors", "Instructors", "Home")</li>
							<li>@Html.ActionLink("About", "About", "Home")</li>
							@*<li>@Html.ActionLink("FAQ", "Faq", "Home")</li>*@
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="row visible-xs">
			<div class="col-xs-12 text-center" id="mobile_nav">
				<nav class="navbar navbar-default">
					<ul class="nav nav-tabs">
						<li>@Html.ActionLink(" ", "Index", "Home", null, new { @class = "glyphicon glyphicon-home" })</li>
						<li>@Html.ActionLink(" ", "Index", "Transaction", null, new { @class = "glyphicon glyphicon-shopping-cart" })</li>
						<li>@Html.ActionLink(" ", "Index", "Lesson", null, new { @class = "glyphicon glyphicon-calendar" })</li>
						<li>@Html.ActionLink(" ", "Manage", "Account", null, new { @class = "glyphicon glyphicon-user" })</li>
						<li>@Html.ActionLink(" ", "Instructors", "Home", null, new {@class = "glyphicon glyphicon-blackboard"})</li>
						<li>@Html.ActionLink(" ", "About", "Home", null, new { @class = "glyphicon glyphicon-book" })</li>
						@*<li>@Html.ActionLink(" ", "Faq", "Home", null, new { @class = "glyphicon glyphicon-question-sign" })</li>*@
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div id="body" style="margin-top: 10px;">
		<section class="container">
			@RenderBody()
		</section>
	</div>
	<div class="row">
		<footer class="col-md-12">
			<div class="content-wrapper">
				<div class="text-center">
					<p>&copy; @DateTime.Now.Year - <a href="http://www.linkedin.com/pub/colin-watson/1a/388/509">Colin Watson</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Home/Privacy/">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Contact Info", "Contact", "Home")</p>
				</div>
			</div>
		</footer>
	</div>





	<div class="modal fade" style="display: none;" id="loginModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" id="loginModalBody">
					loading...
				</div>
			</div>
		</div>
	</div>

</body>
</html>
