@model FillThePool.Models.LoginModel

<div class="row">
	<div class="col-md-6" style="border-right: 1px solid #e5e5e5;">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true)

				<fieldset>
					<legend style="font-size: 16px;">Log in</legend>

					<div class="form-group">
						@Html.LabelFor(m => m.UserName)
						@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.UserName)
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Password)
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Password)
					</div>
					<div class="form-group">
						@Html.CheckBoxFor(m => m.RememberMe)
						@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox", style = "display:inline-block;" })
					</div>
					<input type="submit" class="btn btn-success" value="Log in" />
				</fieldset>
				<p>
				    @Html.ActionLink("Register", "Register", "Account") if you don't have an account.                    
                    @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
				</p>
			}
		</section>
	</div>
	<div class="col-md-6">
		<section class="social" id="socialLoginForm">
			@Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
		</section>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
