@model FillThePool.Web.ViewModels.AccountViewModel


	<div class="panel panel-default">
		<div class="panel-body">
			<h4>Change password</h4>

			@using (Html.BeginForm("Manage", "Account"))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary()

				<div class="form-group">
					@Html.LabelFor(m => m.OldPassword)
					@Html.PasswordFor(m => m.OldPassword)
				</div>
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword)
				<div class="form-group">
					@Html.LabelFor(m => m.ConfirmPassword)
					@Html.PasswordFor(m => m.ConfirmPassword)
				</div>
				<button class="btn btn-success" type="submit" value="Change password">Change password</button>
			}
		</div>
	</div>