@model FillThePool.Models.LocalPasswordModel



	<div class="panel panel-default hidden-xs">
	<div class="panel-body">
		@using (Html.BeginForm("Manage", "Account"))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary()


			<p>
				You do not have a local password for this site. Add a local
				password so you can log in without an external login.
			</p>
			<div class="form-group">
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword)
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword)
			</div>

			<button class="btn btn-success" type="submit" value="Set password">Set Password</button>

		}
	</div>
</div>