@model FillThePool.Web.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>
<div class="col-md-6">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend style="font-size: 16px;">Enter your email address to send a password reset email.</legend>

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

        </fieldset>


        if (ViewBag.Message != null)
        {
            <p class="bg-info" style="padding:15px">
                @ViewBag.Message
            </p>
        }
        <br />

        <input type="submit" class="btn btn-success" value="Reset" />
    }
</div>