@model FillThePool.Web.ViewModels.RegisterViewModel
@{
	ViewBag.Title = "Register";
}

<hgroup class="title">
	<h2>Create a new account.</h2>
</hgroup>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<div class="row">
		<div class="col-md-6 col-sm-6">


			<div class="form-group">
				@Html.LabelFor(m => m.UserName)
				@Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", requried = "true", data_Role = "validate", data_content = "Username is required" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.FirstName)
				@Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", requried = "true", data_Role = "validate", data_content = "First name is required"  })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.LastName)
				@Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", requried = "true", data_Role = "validate", data_content = "Last name is required"  })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Email)
				@Html.TextBoxFor(m => m.Email, new { placeholder = "Email", requried = "true", data_Role = "validate", data_content = "Email is required"  })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new { placeholder = "Password",  requried = "true", data_Role = "validate", data_content = "Password is required"  })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Referral)
				@Html.TextBoxFor(m => m.Referral, new { placeholder = "" })
				List a name and give that person a free lesson when you buy a package!
			</div>
			<div class="form-group" style="display: none;">
				@Html.CheckBoxFor(m => m.PrivateRegistration)
				@Html.LabelFor(m => m.PrivateRegistration)
				<br />
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="form-group">
				@Html.LabelFor(m => m.Address)
				@Html.TextBoxFor(m => m.Address, new { placeholder = "Address" })
			</div>
			@*<div class="form-group">
				@Html.LabelFor(m => m.Address2)
				@Html.TextBoxFor(m => m.Address2, new { placeholder = "Address 2" })
			</div>*@
			<div class="form-group">
				@Html.LabelFor(m => m.City)
				@Html.TextBoxFor(m => m.City, new { placeholder = "City" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.State)
				@Html.TextBoxFor(m => m.State, new { placeholder = "State" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Zip)
				@Html.TextBoxFor(m => m.Zip, new { placeholder = "Zip code" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Phone)
				@Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.MobilePhone)
				@Html.TextBoxFor(m => m.MobilePhone, new { placeholder = "Mobile Phone" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.MobileCarrier)
				@Html.DropDownListFor(m => m.MobileCarrier, new SelectList(Model.CarrierOptions, "Key", "Value", Model.MobileCarrier), new { @class = "form-control" })
			</div>
			<div id="carrierother" class="form-group hide">
				<label for="MobileCarrier">Other</label>
				<input type="Text" id="MobileCarrier" value="" />
			</div>

			<button type="submit" class="btn btn-lg btn-success" data-role="trigger-validation" >Register</button>
		</div>

	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
