@model FillThePool.Web.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("ResetPassword", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            
            @Html.HiddenFor(m=>m.Token)
            
             if (ViewBag.Message != null)
    {
        <p class="bg-info" style="padding:15px">
            @ViewBag.Message
        </p>
    }
            <button class="btn btn-success" type="submit" value="Set password">Set Password</button>
        }
    </div>
</div>