@model FillThePool.Web.ViewModels.AdminUserListViewModel


@{
    ViewBag.Title = "Index";
}
<style>
	.userSummary {
		display: none;
	}

	/*.userRow {
		background-color: #428bca;
		color: #ffffff;
	}
		*/
		.userRow {
		background-color: #fff;
		color: #428bca;
			cursor: pointer;
	}

	/*tr:nth-child(4n+1) {
		background-color: #fff;
		color: #428bca;
	}*/

</style>
<div class="row">
	<div class="col-md-12" style="border-bottom: solid 1px #428bca; padding:5px;">
		<ul class="nav nav-pills">
			<li class="active">@Html.ActionLink("Users", "Index")</li>
			<li>@Html.ActionLink("Wait List", "WaitList")</li>
			<li>@Html.ActionLink("Schedule", "Schedule")</li>
		</ul>
	</div>
</div>


<div class="row">
	<div class="col-md-3">
		<h3>Users</h3>
		<div>@Html.ActionLink("Export", "Export")</div>
		@if (Model.WaitListEnabled)
		{
			<div>@Html.ActionLink("Turn off wait list", "ToggleWaitList")</div>
		}
		else
		{
			<div>@Html.ActionLink("Turn on wait list", "ToggleWaitList")</div>
		}
	</div>
	<div class="col-md-9" style="display: none;">
		Total Credits Purchased: @ViewBag.TotalCreditsPurchased Total Lessons Reserved: @ViewBag.TotalLessonsReserved
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<td>Name</td>
			<td>Students</td>
			<td>Balance</td>
		</tr>
	</thead>
	<tbody>
		@foreach (FillThePool.Web.ViewModels.AdminUserViewModel uservm in Model.Users)
		{
			var divId = "collapse_" + uservm.User.UserId;
			<tr class="userRow">
				<td>@uservm.User.FirstName @uservm.User.LastName</td>	
				<td>@uservm.Students.Count Students</td>
				<td>Balance: @uservm.Balance</td>
			</tr>
			<tr class="userSummary">
				<td colspan="3">
					<div id="@divId" data-id="@uservm.User.UserId">
						@{ Html.RenderPartial("_Summary", uservm); }
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

	<script>
		$(function () {
			$(".userRow").click(function () {
				$(".userSummary").hide();
				$(this).next().show();
			});

		AddBindings();

		$('#userAccordion').collapse({
			toggle: false
		});
	});

	function AddBindings() {
		$(".editUser").unbind("click");
		$(".editStudents").unbind("click");
		$(".editTransactions").unbind("click");

		$(".editUser").click(function () {
			$("#editModal .modal-content").html("");
			var id = $(this).attr("data-id");
			$('#editModal').modal("toggle");
			$.get("/Admin/Edit/" + id, function (data) {
				$("#editModal .modal-content").html(data);
			});
		});

		$(".editStudents").click(function () {
			$("#studentModal .modal-content").html("");
			var id = $(this).attr("data-id");
			$('#studentModal').modal("toggle");

			$.get("/Admin/Students/" + id, function (data) {
				$("#studentModal .modal-content").html(data);
			});

		});

		$(".editTransactions").click(function () {
			$("#transactionModal .modal-content").html("");
			var id = $(this).attr("data-id");
			$('#transactionModal').modal("toggle");

			$.get("/Admin/Transactions/" + id, function (data) {
				$("#transactionModal .modal-content").html(data);
			});

		});

		$(".editLessons").click(function () {
			$("#lessonModal .modal-content").html("");
			var id = $(this).attr("data-id");
			$('#lessonModal').modal("toggle");
			$.get("/Admin/Lessons/" + id, function (data) {
				$("#lessonModal .modal-content").html(data);
			});
		});
	}

	function RefreshCurrentUser() {

		var id = $(".collapse.in").attr("data-id");

		$.get("/Admin/Summary/" + id, function (data) {
			$(".collapse.in").html(data);
			AddBindings();
		});
	}


	</script>



<div class="modal fade" id="editModal">
	<div class="modal-dialog">
		<div class="modal-content admin-modal">
			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="studentModal">
	<div class="modal-dialog">
		<div class="modal-content admin-modal">

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="transactionModal">
	<div class="modal-dialog">
		<div class="modal-content admin-modal">

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="emailModal">
	<div class="modal-dialog admin-modal">
		<div class="modal-content">

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="lessonModal">
	<div class="modal-dialog">
		<div class="modal-content admin-modal">

		</div>
	</div>
</div>