@using System.Globalization
@model IEnumerable<FillThePool.Models.Schedule>

@{
	ViewBag.Title = "Schedule";
}
<style>
	.schedule_notes {
		font-size: 10px;
	}
</style>

<script>
	$(function () {

		$("#datepicker").datepicker();
		$("#datepicker").val(getQueryVariable("date"));

		$("#datepicker").change(function () {
			window.location = "/Admin/Schedule?date=" + $("#datepicker").val();
		});
	});

	function getQueryVariable(variable) {
		var query = window.location.search.substring(1);
		var vars = query.split("&");
		for (var i = 0; i < vars.length; i++) {
			var pair = vars[i].split("=");
			if (pair[0] == variable) {
				return pair[1];
			}
		}
		return new Date().toLocaleDateString();
	}
</script>
<div class="row">
	<div class="col-md-12" style="border-bottom: solid 1px #428bca; padding:5px;">
		<ul class="nav nav-pills">
			@if (Roles.IsUserInRole("Admin"))
			{
				<li>@Html.ActionLink("Users", "Index")</li>
				<li>@Html.ActionLink("Wait List", "WaitList")</li>
			}
			<li class="active">@Html.ActionLink("Schedule", "Schedule")</li>
		</ul>
	</div>
</div>


<h2>Schedule</h2>

<div class="row">
	<div class="col-md-2">
		<label for="datepicker">Select a date:</label>
		<input id="datepicker" type="text" />
	</div>
</div>
<div class="row">

	@foreach (var lane in Model.GroupBy(s => s.Lane))
	{
		<div class="col-md-6">
			<table class="table">
				<thead>
				<tr>
					<th colspan="2">
						@lane.Key
					</th>
				</tr>
				<tr>
					<th>Student Name</th>
					<th style="width: 20%">Time</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var schedule in lane)
				{
					<tr class="@((schedule.Registration != null && (((DateTime.Now - schedule.Registration.Student.BirthDate).Days/365) < 4)) ? Html.Raw("bg-primary") : Html.Raw(""))">
						@if (schedule.Registration != null)
						{
							<td>
								<span class="schedule_name">@schedule.Registration.Student.Name @((DateTime.Now - schedule.Registration.Student.BirthDate).Days/365)yr</span>
								<br/>
								<span class="schedule_name">@schedule.Registration.Student.User.FirstName  @schedule.Registration.Student.User.LastName</span>
								<br/>
								<span class="schedule_notes">@schedule.Registration.Student.Notes</span>
							</td>
							<td>
								@schedule.Start.ToString("t")
							</td>
						}
						else if (schedule.Registration == null)
						{
							<td>
								<span class="schedule_name">Available</span>
							</td>
							<td>
								@schedule.Start.ToString("t")
							</td>
						}
					</tr>
				}
				</tbody>
			</table>
		</div>
	}
</div>
