@model IEnumerable<FillThePool.Models.Transaction>
@{    
    int count = 10;
    string cssClass = "list-group-item";
}

<!-- List group -->
<ul class="list-group">

    @if (Model.Count() == 0)
    {
        <li class="list-group-item">No transactions found</li>
    }
    @foreach (FillThePool.Models.Transaction t in Model)
    {
        string currClass = cssClass;
        if (count > 0)
        {
            currClass += " top";
        }
        else
        {
            currClass += " bottom";
        }
        <li class="@currClass">
            @if (t.LessonCredit > 0){
                <span>@t.Type @t.LessonCredit Credit(s)  - @t.TimeStamp.ToShortDateString()</span>
            }
            else
            {
                 <span>@t.Type @(t.LessonCredit * -1) Credit(s) - @t.TimeStamp.ToShortDateString()</span>
            }
        </li>
        count--;
    }
</ul>
<a href="#" id="showHide">Show All</a>