@model FillThePool.Web.ViewModels.WaitListViewModel
@{
	ViewBag.Title = "Wait list";
}

<div class="row">
	<div class="col-md-11 col-md-offset-1 col-sm-offset-1">

		<h2>Wait list</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">

		<div>
			<p>
				Thank you for your interest in Stansbury Swim.  We have sold out of lessons for the season.
				If you would like to be added to a wait list to purchase lesson credits if they become available check the box below (preference will be given to current students).
				<br />
				You'll receive an email when you can purchase credits again.
			</p>
		</div>
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary()

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						@Html.LabelFor(m => m.OnWaitList)
						@Html.CheckBoxFor(m => m.OnWaitList, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.OnWaitList)
					</div>
				</div>
			</div>
		}
	</div>
		<div class="col-md-5 col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Transactions</h3>
				</div>
				<div class="panel-body" id="transactions">
					No transactions found
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function () {

			GetLessonBalance();
			GetTransactionHistory();

			$("#OnWaitList").change(function () {
				$.get("/api/waitlist/update/" + $('#OnWaitList').is(':checked'));
			});
		});


		function GetLessonBalance() {
			$.get("/api/TransactionAPI/Balance/", function (data) {
				$("#LessonBalance").html(data);
			});
		}

		function GetTransactionHistory() {
			$.get("/Transaction/History/", function (data) {
				$("#transactions").html(data);

				if (!showAll) {
					$(".bottom").hide();
				}

				$("#showHide").click(function () {
					showAll = !showAll;
					if (showAll) {
						$("#showHide").html("Hide");
						$(".bottom").show();
					}
					else {
						$("#showHide").html("Show all");
						$(".bottom").hide();
					}

				});
			});
		}
	</script>

