@page
@model FillThePool.Core.Areas.Admin.Pages.Manage.PrintModel
@{
	Layout = "_Layout.cshtml";
	ViewData["Title"] = "Manage Schedule";
	ViewData["ActivePage"] = FillThePool.Core.Areas.Admin.Pages.Manage.AdminNavPages.Schedules;
}

<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="display-4 text-center">Print Schedule</h1>
			<br />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form method="post">
				<div class="form-row">
					<div class="col">
						<input class="form-control" type="date" asp-for="InputModel.Date" />
					</div>
					<div class="col">
						<input type="submit" value="Go" class="btn btn-primary" asp-page-handler="ChangeDate" />
						<button class="btn btn-primary" id="print-btn">Print</button>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check form-check-inline">
						@for (var i = 0; i < Model.InputModel.PoolChoices.Count; i++)
						{
							<input class="form-check-input" asp-for="InputModel.PoolChoices[i].Selected" />
							<input type="hidden" asp-for="InputModel.PoolChoices[i].Pool" />
							<label class="form-check-label">@Model.InputModel.PoolChoices[i].Pool</label>
							<span>&nbsp;</span>
						}
					</div>
				</div>
				<div class="form-row">
					<div class="form-check form-check-inline">
						@for (var i = 0; i < Model.InputModel.InstructorChoices.Count; i++)
						{
							<input class="form-check-input" asp-for="InputModel.InstructorChoices[i].Selected" />
							<input type="hidden" asp-for="InputModel.InstructorChoices[i].Instructor" />
							<label class="form-check-label">@Model.InputModel.InstructorChoices[i].Instructor</label>
							<span>&nbsp;</span>
						}
					</div>
				</div>
			</form>
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<tr>
						<th>
							Start
						</th>
						<th>
							Pool
						</th>
						<th>
							Student
						</th>
						<th>
							Instructor
						</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Schedules.Count == 0)
					{
						<tr>
							<td colspan="4" class="text-center">
								No schedules found
							</td>
						</tr>
					}
					@foreach (var schedule in Model.Schedules)
					{
						<tr>
							<td>@schedule.Start.ToShortTimeString()</td>
							<td>@schedule.Pool.Name</td>
							@if (schedule.Registration == null)
							{
								<td>Available</td>
							}
							else
							{
								<td>
									@schedule.Registration.Student.Name
									<br />
									<small>@schedule.Registration.Student.Notes</small>
								</td>
							}

							<td>@schedule.Instructor.Name</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Print {
	<div class="row">
		<div class="col">
			Date: @Model.InputModel.Date.ToShortDateString()
		</div>
		@if (Model.InputModel.PoolChoices.Any(i => i.Selected))
		{
			<div class="col">
				Pool:
				@foreach (var pool in Model.InputModel.PoolChoices.Where(p => p.Selected))
				{
					<span>@pool.Pool</span>
				}
			</div>
		}
		@if (Model.InputModel.InstructorChoices.Any(i => i.Selected))
		{
			<div class="col">
				Instructor:
				@foreach (var instructor in Model.InputModel.InstructorChoices.Where(p => p.Selected))
				{
					<span>@instructor.Instructor</span>
				}
			</div>
		}
	</div>
	<br />
	<br />
	<br />
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>
						Start
					</th>
					<th>
						Pool
					</th>
					<th>
						Student
					</th>
					<th>
						Instructor
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var schedule in Model.Schedules)
				{
				<tr>
					<td>@schedule.Start.ToShortTimeString()</td>
					<td>@schedule.Pool.Name</td>
					@if (schedule.Registration == null)
					{
						<td>Available</td>
					}
					else
					{
						<td>
							@schedule.Registration.Student.Name
							<br />
							<small>@schedule.Registration.Student.Notes</small>
						</td>
					}

					<td>@schedule.Instructor.Name</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
}


<script>
	$("#print-btn").click(function () {
		window.print();
	});
</script>
