@page
@model StudentsModel
@{
	ViewData["Title"] = "Students";
	ViewData["ActivePage"] = ManageNavPages.Students;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
	<div class="col-md-6">
		<h6>Add a new student</h6>
		<form id="add-student-form" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.Name"></label>
				<input asp-for="Input.Name" class="form-control" />
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Birthday"></label>
				<input type="date" asp-for="Input.Birthday" class="form-control" />
				<span asp-validation-for="Input.Birthday" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Ability"></label>
				<input asp-for="Input.Ability" class="form-control" />
				<span asp-validation-for="Input.Ability" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Notes"></label>
				<input asp-for="Input.Notes" class="form-control" />
				<span asp-validation-for="Input.Notes" class="text-danger"></span>
			</div>

			<button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
		</form>

		@foreach (var student in Model.Students)
		{
			<form id="edit-student-form" method="post">
				<div class="card m-2" style="width: 18rem;">
					<div class="card-body" data-student-id="@student.Id">
						<h5 class="card-title">@student.Name</h5>
						<h6 class="card-subtitle mb-2 text-muted">@student.Birthday.ToShortDateString()</h6>
						<p class="card-text">@student.Ability</p>
						<p class="card-text">@student.Notes</p>
						<button type="button" class=" btn btn-link card-link" id="edit-student-@student.Id">Edit</button>
						<button type="submit" asp-page-handler="DeleteStudent" asp-route-studentId="@student.Id" class="btn btn-link">Delete</button>
					</div>
					<div class="card-body" data-edit-student-id="@student.Id" style="display:none">
						<div asp-validation-summary="All" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="Input.Name"></label>
							<input name="Input.Name" value="@student.Name" class="form-control" />
							<span asp-validation-for="Input.Name" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Input.Birthday"></label>
							<input type="date" name="Input.Birthday" value="@student.Birthday.ToString("yyyy-MM-dd")" class="form-control" />
							<span asp-validation-for="Input.Birthday" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Input.Ability"></label>
							<input name="Input.Ability" value="@student.Ability" class="form-control" />
							<span asp-validation-for="Input.Ability" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Input.Notes"></label>
							<input name="Input.Notes" value="@student.Notes" class="form-control" />
							<span asp-validation-for="Input.Notes" class="text-danger"></span>
						</div>
						<button type="submit" asp-page-handler="EditStudent" asp-route-studentId="@student.Id" class="btn btn-primary">Save</button>
						<button id="cancel-edit-student-@student.Id" type="reset" class="btn btn-danger">Cancel</button>
					</div>
				</div>
			</form>
			<script>
				document.addEventListener("DOMContentLoaded", function () {
					(function () {
						$("#edit-student-@student.Id, #cancel-edit-student-@student.Id").click(function () {
							$('[data-student-id="@student.Id"]').toggle();
							$('[data-edit-student-id="@student.Id"]').toggle();
						});
					})();
				});
			</script>
		}
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}